# Ignorer les fichiers sensibles
backend/.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node.js
node_modules/

# Bases de données locales
*.sqlite
*.db

# frontend fichier pour l'instant inutile
frontend/src/components/DeleteTask
frontend/src/components/MessageList
frontend/src/components/ModeSelector

# Autres
.DS_Store
Thumbs.db